.highlight{
    background-color: aquamarine;
}
.navbar-background{
    background-color: #2ababa !important;
}
.navbar-background a{
    color: antiquewhite;
}

.navbar-background a:hover{
    color:burlywood;
}
.text-highlight{
    font-size: 25px;
    color:#2ababa !important;
}
.bottom-border{
    border-bottom: 3px solid black;
}